<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
  <link rel="stylesheet" href="../static/app.css">

  <title>{% block title %} {% endblock title %} - Social App</title>

</head>
<body>
  <nav class="navbar">
    <ul class="navbar">
      <li class="navbar" id="navtitle"><a href="/home">Social App</a></li>
      <li class="navbar" id="navlinks"><a href="/home">ALL POSTS</a></li>
      <li class="navbar" id="navlinks"><a href="/forme">FOR ME</a></li>
      <li class="navbar" id="navlinks"><a href="/allusers">USERS</a></li>
      <li class="navbar" id="navlinks"><a href="/">MY PROFILE</a></li>
      <li><button class="navbar" id="logoutbtn" onclick="{{ url_for('logout') }}">Logout</button></li>
    </ul>
  </nav>
{% block body %}
    
{% endblock body %}
</body>
</html>